<div class="eventviewer">
  <h3>Events</h3>
  <ul>
    <% if @tournament.events.present? %>
    <% @tournament.events.each do | event | %>
     <%= link_to group_tournament_event_path(@group, @tournament, event) do %>
      <li>
        <div class="eventhead">
        <%= event.name %> 
        </div>
        <div class="eventbigimg">
        <% eventimg = event.imageurl %> 
        <%= image_tag(eventimg, :alt => "rss feed", :class => "event_big") %>
        </div>
        
        <div class="eventdescription">
        <%= event.event_description %> 
        </div>

        

        

        </li>
      <% end %>
    <% end %>
    <% else %><br><br><br>
    <h2>No events yet for this tournament.</h2>
    <% end %>
  </ul>
</div>  