
  <div class="slider">

        <ul>
          <% @event.users.each do | user | %>
            <li>
              <% profileimg = user.profile_image_url %> 
              <%= image_tag(profileimg, :alt => "rss feed", :class => "profile_thumb") %>

              </li>
          <% end %>
        </ul>
        </div>