// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.joinevent{
  // background-color: #058496;
  width: 100%;
  padding: 10px;
  margin-top: 20px !important;
  color: white;
}

.joinevent a{
  // background-color: #058496;
  width: 100%;
  padding: 10px;
  margin-top: 20px !important;
  color: white;
}

.createnewevent{
  // background-color: #058496;
  width: 100%;
  padding: 10px;
  margin-top: 20px !important;
  color: white;
}

.container{
  margin: 0px;
  padding: 0px;
}

.container div{
  margin: 0px;
  padding: 0px;

}

.col-md-2{
  width:26% !important;
  margin-left: 0px!important;
}

.col-md-10{
  width:73.84% !important;

} 

.col-md-10 .content{
 // background: rgba(55, 55, 55, 0.5);
 // color:blue;
}

.span9{
  // background: black;
  color: white;
  background: rgba(0, 0, 0, 0.7);
}

.eventcontent{
  margin: 0 0;
  padding: 0 0 !important;
  width: 100%!important;
  
  background: url("background.jpg") no-repeat center; 
  background-size:100%;
}

.eventscol1 {
  font-family: futura;

}


.othereventlist{
   // white-space:nowrap;
    overflow-x:auto;
    max-height: 500px;
    margin-right: 0px;
    background: white;
    font-family: futura;
}



.othereventlist li{
  padding:5px;
  border: solid black 1px;
  padding-bottom:0px;
}

.eventsidebartop{
  background: white;
  border: solid black 2px;
}

.tournament_thumb{margin-left:5px; margin-right: 0px;}

.eventinfo{padding-top:175px!important;}

.span9 h3{margin:0px;
padding-top:10px;
padding-bottom:10px;}