<%= form_tag charges_path do %>
  <article>
    <label class="amount">
      <span>Amount: $5.00</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:pk_test_j5O8pk3UgqRCPyO4w9vFmdDU] %>"
          data-description="A month's subscription"
          data-amount="500"></script>
<% end %>